@using LocationMaster_FE.Models
@using LocationMaster_FE.Services
@using LocationMaster_FE.Services.IServices
@inject IAttractionsService AttractionsService

<div class="container-place-atractions">
    <div class="container-body-attraction-top">
        <h2>Attractions</h2>
    </div>
    <div class="container-body-attraction">

        @foreach (var i in _responses)
        {
            <AttractionItem Item=@i/>
        }
    </div>
</div>

@code {

    [Parameter]
    public string Id { get; set; }

    private List<AttractionResponse> _responses;

    protected override async Task OnInitializedAsync()
    {
        _responses = new List<AttractionResponse>();
        var result = await AttractionsService.GetImages(Guid.Parse(Id));
        if (result.Success)
        {
            _responses = result.data;
            StateHasChanged();
        }
    }

}