@using LocationMaster_FE.Models
<div class="attraction-item">
    <img src="@Item.GetImage()"/>
    <div class="attraction-item-detail">
        <div class="attraction-item-detail-text">
            <h4>@Item.Name</h4>
            <p>@Item.Description</p>
        </div>
    </div>

</div>

@code {

    [Parameter]
    public AttractionResponse Item { get; set; }

}