<div class="photo-gallery-column">
    @foreach (var photoUrl in Urls)
    {
        <img src="@photoUrl" class="gallery-image" />
    }
</div>

@code {
    [Parameter]
    public List<string> Urls { get; set; }
    
}
