@inject IJSRuntime JSRuntime
@using LocationMaster_FE.Models.Responses
<div class="container-place-atractions">
    <div class="container-body-attraction-top">
        <h2>Map</h2>
    </div>
    <div class="container-body-attraction">
        <div class="container-place-map">
            <div id="myMap" style="position:relative; width: 100%; height: 70vh;"></div>

        </div>
    </div>
</div>

@code {

    [Parameter]
    public PlaceInfoResource Data { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var text = await JSRuntime.InvokeAsync<string>("initMap", 51.520307, -0.1340339);
        }
    }

}