@using LocationMaster_FE.Resources
@using LocationMaster_FE.Shared
<div class="place-review">
    <div class="owner-content">
        <div class="image-owner">
            <img src="@Resource.PhotoUrl" id="photo-user"/>
        </div>
        <div class="owner-text">
            <div class="owner-text-top">
                <div class="owner-text-left">
                    <Hearts NoHearts=Resource.Ratting></Hearts>
                    <h4>@Resource.Name</h4>
                </div>

            </div>
            <div class="owner-text-bottom">
                <p>
                    @Resource.Text
                </p>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ReviewResource Resource { get; set; }


    protected override void OnInitialized()
    {
        Resource = ReviewResource.CreateDefault();
    }

}