@using LocationMaster_FE.Models.Responses
<div class="place-poster">
        <div class="poster-name-content">
            <div class="poster-blur">
                Here
            </div>
        

    </div>
</div>
@code {
    
        [Parameter]
        public PlaceInfoResource Data { get; set; }

}
