@using LocationMaster_FE.Resources
@using LocationMaster_FE.Models.Responses
<div class="container-place-atractions bottom-place-detail">
    <div class="container-body-attraction-top">
        <h2>Reviews</h2>
    </div>
    <div class="container-places-reviews">
        <PlaceReview/>
        @foreach (var _ in CurrentValue)
        {
            <PlaceReview />
        }
    </div>
    <div class="container-body-attraction-top gallery-none">
        <button class="button-ask" @onclick="LoadMoreReviews">More reviews</button>
    </div>
</div>

@code {
    [Parameter]
    public PlaceInfoResource Data { get; set; }
    List<int> CurrentValue = new List<int>();

    public void LoadMoreReviews()
    {
        CurrentValue.Add(1);
        CurrentValue.Add(1);
    }

}