@page "/explore"

<TopPage PageTitle="Explore"/>

<div class="container explore-container">
    <div class="card explore-card">
        <div class="card-header explore-header" id="header-1">
            <h1 class="mb-0">
                <button class="btn btn-link explore-category-heading" data-toggle="collapse" data-target="#categories-1" aria-expanded="true" aria-controls="categories-1">
                    Affordable Locations
                </button>
            </h1>
        </div>
        <div id="categories-1" class="collapse show" aria-labelledby="header-1">
            <LocationCategory value="affordable"></LocationCategory>
        </div>
    </div>

    <div class="card explore-card">
        <div class="card-header explore-header" id="header-2">
            <h1 class="mb-0">
                <button class="btn btn-link explore-category-heading" data-toggle="collapse" data-target="#categories-2" aria-expanded="true" aria-controls="categories-2">
                    Expensive Locations
                </button>
            </h1>
        </div>
        <div id="categories-2" class="collapse show" aria-labelledby="header-2">
            <LocationCategory value="expensive"></LocationCategory>
        </div>
    </div>
</div>

@code {

}

