@page "/"
<TopPage PageTitle="LocationMaster Project"
         WithSearchBar="false"></TopPage>
<h1 class="text-center">Make your dream come true</h1>
<div class="main-container">
    <div class="container1">
        <img class="w-100 h-50" src="images/index-page/first-image.webp" alt="Mountain house" />
        <div class="centered">Grow your business with us or find your iconic places to visit </div>
    </div>
</div>

@code {
}