@using LocationMaster_FE.ContainerState
@using LocationMaster_FE.Shared.SearchLocations
@using LocationMaster_FE.Services
@inject PagesPlacesStorage Storage
@inject PlaceService Service
@inject SearchStorage SearchStorage
@implements IDisposable

@page "/search"
<CascadingValue Value="@this">
    <div class="mybody">
        <TopPage PageTitle="Places"
                 WithSearchBar="true">
        </TopPage>
       
        <div class="container-places  mt-n5">
            @*<MenuSearch/>*@
            <ContentPageSearch/>
        </div>
    </div>
</CascadingValue>

@code{

    public string Value { get; set; }

    public async void SetValue(string search)
    {
        SearchStorage.SetSearch(search);
        Storage.SetResource( await Service.GetPage(1));
        Console.WriteLine("Update places");
        StateHasChanged();
    }

    protected override async void OnInitialized()
    {
        Storage.SetResource(await Service.GetPage(1));
        Storage.OnChange += StateHasChanged;
        SearchStorage.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Storage.OnChange -= StateHasChanged;
        SearchStorage.OnChange -= StateHasChanged;
    }
    
}