@page "/sitemapper"
@inject IJSRuntime JSRuntime

<h1>Site Mapper</h1>

<div id="myMap" style="position:relative; width: 100%; height: 70vh;"></div>
@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("Called Js1");
            var text = await JSRuntime.InvokeAsync<string>("initMap");
        }
    }

}