.admin-place-body {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.custom_dialog > .mdc-dialog__container {
    width: 90%;
    height: 90%;
}

.custom_dialog > .mdc-dialog__container > .mdc-dialog__surface {
    width: 100%;
    height: 100% !important;
    max-width: 100% !important;

}