﻿ /* Container holding the image and the text */
.container1 {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../images/index-page/first-image.webp") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    border: 10px solid #007bff;
}

    header.masthead .overlay {
        position: absolute;
        background-color: #212529;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }

    header.masthead h1 {
        font-size: 2rem;
    }

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

        header.masthead h1 {
            font-size: 3rem;
        }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.deepshd-back {
    background-color: #007bff99;
    border: 5px solid #0000;
    border-radius: 20px;
}

.deepshd-font {
    color: #ececeb;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 2px 0 #242424, 0 2px 0 #222, 0 2px 0 #202020, 0 2px 0 #1e1e1e, 0 2px 0 #1c1c1c, 0 2px 0 #1a1a1a, 0 2px 0 #181818, 0 2px 0 #161616, 0 2px 0 #141414, 0 2px 0 #121212, 0 1px 5px rgba(0, 0, 0, 0.9);
}

.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("../images/index-page/bg-showcase-4.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    border: 10px solid #007bff;
}

    .call-to-action .overlay {
        position: absolute;
        background-color: #212529;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
