@using LocationMaster_FE.Shared.SearchLocations.SmallComponents
<div class="places-menu-price-range place-menu">
    <h3 class="places-none">Price range</h3>
    <div class="places-component">
        <RadioButton Value="range5" ValuePrice="All" Id="5" Key=5></RadioButton>
        <RadioButton Value="range1" ValuePrice="$10" Id="1" Key=1></RadioButton>
        <RadioButton Value="range2" ValuePrice="$10-$100" Id="2" Key=2></RadioButton>
        <RadioButton Value="range3" ValuePrice="$100-$500" Id="3" Key=3></RadioButton>
        <RadioButton Value="range4" ValuePrice="More than $500" Id="4" Key=4></RadioButton>
    </div>
    <div class="places-component">
        <div class="places-custom-range">
        </div>
    </div>
</div>

@code {

}