<div class="places-component-line love">
    <div class="places-love">
        @for (var it = 0; it < Size; it++)
        {
            <i class="fas fa-heart"></i>
        }

    </div>
    <div class="places-love-count">@Value</div>
</div>

@code {

    [Parameter]
    public int Size { get; set; }

    [Parameter]
    public string Value { get; set; }

}