<div class="location-category container-fluid">
    <div class="row align-items-center">
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
        <div class="col px-0 d-flex justify-content-center">
            <LocationCard></LocationCard>
        </div>
    </div>
</div>

@code {

}
