@using LocationMaster_FE.Shared.SearchLocations.SmallComponents
<div class="places-menu-category place-menu">
    <h3 class="places-none">Category</h3>
    <div class="places-component">
        <CategorySearchMenu Id="1" Count="100" Content="Category 1"/>
        <CategorySearchMenu Id="2" Count="120" Content="Category 2"/>
        <CategorySearchMenu Id="3" Count="30" Content="Category 3"/>
        <CategorySearchMenu Id="4" Count="400" Content="Category 4"/>
    </div>

</div>

@code {
}