<div class="custom_navbar shadow p-2 mb-5 bg-white rounded">
    <div class="custom_navbar__links">
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All"><i class="fa fa-home"></i><span>Home</span></NavLink>
            <div class="dropdown show">
                <a class="dropdown-toggle nav-item" href="#" role="button" id="dropDownMenuPlaces" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-map-marker"></i><span>Places</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropDownMenuPlaces">
                    <NavLink class="dropdown-item" href="search">Find Places</NavLink>
                    <NavLink class="dropdown-item" href="explore">Explore</NavLink>
                </div>
            </div>
        <NavLink class="nav-item" href="#"><i class="fa fa-phone"></i><span>Contact us</span></NavLink>
    </div>
    <div class="custom_navbar__logo-image">
        <div class="nav-item">
            <img class="logo-image" src="images/main-images/location-master-logo.png">
        </div>
    </div>
    <div class="custom_navbar__right_container">
        <div class="nav-item">
            <i class="fa fa-envelope-o"></i>
        </div>
        <div class="nav-item">
            <i class="fa fa-calendar"></i>
        </div>
        <div class="nav-item">
            <i class="fa fa-bell-o"></i>
        </div>
        <div class="nav-item">
            <div class="dropdown show">
                <img class="profile-image dropdown-toggle" src="images/main-images/main-image.png" role="button"
                     id="dropDownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu" aria-labelledby="dropDownMenuProfile">
                    <p class="dropdown-item">John Doe</p>
                    <NavLink class="dropdown-item" href="profile">My Profile</NavLink>
                    <button class="btn btn-primary dropdown-item" href="#">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}
