@using  LocationMaster_FE.Shared.SearchLocations
@page "/search"
    <div class="mybody">
        <TopPage PageTitle="Places"
                 WithSearchBar="true"></TopPage>
        <h1>TEST</h1>
        <h1>sada</h1>
        <div class="container-places">
            <MenuSearch />
            <ContentPageSearchPlaces Sizer="25" />
        </div>
    </div>

@code {

}
