<div class="places-component-line love">
    <span>
        <input type="checkbox" id="places-menu-category`@Id`" name="category`@Id`" value="@Content">
        <label for="places-menu-category`@Id`">category1</label>
    </span>
    <div class="places-love-count">@Count</div>
</div>

@code {

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public string Count { get; set; }

}