<span class="places-custom-range-container">
    <label for="@Id">@Content</label>
    <input type="number" id="@Id" class="places-price-box">
</span>

@code {

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public string Id { get; set; }

}