<div class="pagination-container">
    <div class="pagination">
        @if (CurrentPage > 1)
        {
            <div class="page-box">
                <a href="#" class="pagination-value">&lt;</a>
            </div>
        }
        @for (var pageIndex = MaxValue(CurrentPage - MaxOffset); pageIndex < CurrentPage; pageIndex++)
        {
            <div class="page-box">
                <a href="#" class="pagination-value">@pageIndex</a>
            </div>
        }
        <div class="page-box">
            <a href="#" class="pagination-value active">@CurrentPage</a>
        </div>
        @for (var pageIndex = CurrentPage +1; pageIndex < MinPage(CurrentPage+MaxOffset); pageIndex++)
        {
            <div class="page-box">
                <a href="#" class="pagination-value">@pageIndex</a>
            </div>
        }
        @if (CurrentPage < MaxPage)
        {
            <div class="page-box">
                <a href="#" class="pagination-value">&gt;</a>
            </div>
        }
    </div>
</div>
        @code {

            [Parameter]
            public int CurrentPage { get; set; }

            [Parameter]
            public int MaxOffset { get; set; }
            [Parameter]
            public int MaxPage { get; set; }

            public int MaxValue(int value)
            {
                return value > 0 ? value : 1;
            }
            public int MinPage(int value)
            {
                if(value>MaxPage)
                    return MaxPage;
                else 
                    return value;
            }

        }
