@page "/"
<TopPage PageTitle="LocationMaster Project"
         WithSearchBar="false"></TopPage>

<div class="main-container">
    <div class="d-flex flex-column px-3">
        <div>
            <h1 class="text-center">FIND PERFECT LOCATION</h1>
            <h1 class="text-center">OR</h1>
            <h1 class="text-center">GROW YOUR BUSINESS</h1>
        </div>
        <img class="w-100 h-50" src="images/index-page/first-image.webp" alt="Mountain house" />
        @*<div class="justify-content-start w-50 pl-3">
            <p>Proiectul nostru doreste sa ofere un serviciu cloud pus sub "umbrela" Saas (Software as a Service). 
            Clienții pot accesa aplicația din internet. Serviciul este găzduit în cloud și poate fi utilizat atât 
            de către utilizatori ce doresc să viziteze anumite locații cât și pentru aria comercială.</p>
        </div>
        <div class="justify-content-end w-50 pr-3">
            
        </div>*@
    </div>
</div>