@page "/"
<TopPage PageTitle="LocationMaster Project"
         WithSearchBar="false"></TopPage>
<h1 class="text-center">Make your dream come true</h1>
<div class="main-container">
    @*<div class="d-flex flex-column px-3">*@   
        @*<img class="w-100 h-50" src="images/index-page/first-image.webp" alt="Mountain house" />*@
        <div class="container1">
            <img class="w-100 h-50" src="images/index-page/first-image.webp" alt="Mountain house" />
            <div class="centered">Grow your business with us or find your iconic places to visit </div>
        </div>
            @*<p>proiectul nostru doreste sa ofere un serviciu cloud pus sub "umbrela" saas (software as a service). 
            clienții pot accesa aplicația din internet. serviciul este găzduit în cloud și poate fi utilizat atât 
            de către utilizatori ce doresc să viziteze anumite locații cât și pentru aria comercială.</p>
        </div>
        <div class="justify-content-end w-50 pr-3">
            
        </div>*@
        
    @*</div>*@
</div>
