@page "/myprofile"

<div class="myprofile-container">
    <div class="top-page-opacity d-flex flex-column h-100">
        <img class="myprofile-image mt-100px mx-auto" src="images/locations/miami.jpg" />
        <form class="d-flex flex-row flex-wrap justify-content-around mt-5">
            <div class="bg-white text-secondary px-5 py-4 font-size-25px m-2">
                <h1 class="c-325DFF o-50">BASIC INFO</h1>
                <div class="form-group row">
                    <label class="m-0" for="username">USERNAME:</label>
                    <input class="bg-white border-0 text-secondary ml-3" id="username" type="text" value="nuyonu" disabled />
                </div>
                <div class="form-group row">
                    <label class="m-0" for="last-name">LAST NAME:</label>
                    <input class="bg-white border-bottom-3px text-secondary ml-3" id="last-name" type="text" />
                </div>
                <div class="form-group row">
                    <label class="m-0" for="first-name">FIRST NAME:</label>
                    <input class="bg-white border-bottom-3px text-secondary ml-3" id="first-name" type="text" />
                </div>
                <div class="form-group row">
                    <label class="m-0" for="birth-date">DATE OF BIRTH:</label>
                    <input class="bg-white border-bottom-3px text-secondary ml-3" id="birth-date" type="date" value="1998-06-23"/>
                </div>
            </div>
            <div class="bg-325DFF text-white px-5 py-4 font-size-25px">
                <h1 class="text-white">CONTACT INFO</h1>
                <div class="form-group row">
                    <label class="m-0" for="email">EMAIL:</label>
                    <input class="bg-325DFF border-bottom-3px text-white ml-3" id="email" type="text" />
                </div>
                <div class="form-group row">
                    <label class="m-0" for="phone-number">PHONE NUMBER:</label>
                    <input class="bg-325DFF border-bottom-3px text-white ml-3" id="phone-number" type="text" />
                </div>
            </div>
        </form>
        <div class="w-100 my-5">
            <div class="d-flex flex-row flex-wrap justify-content-center mr-4">
                <button class="btn bg-325DFF btn-lg text-white rounded-pill mx-2">VIEW HISTORY</button>
                <label for="profile-image" class="btn bg-325DFF btn-lg text-white rounded-pill mx-2 mb-0 cursor-pointer">CHANGE PHOTO</label>
                <button class="btn bg-325DFF btn-lg text-white rounded-pill mx-2">UPDATE</button>
            </div>
        </div>
        <input type="file" id="profile-image" hidden/>
    </div>
</div>

@code {
}
