@using  LocationMaster_FE.Shared.SearchLocations
@page "/search"
    <div class="mybody">
        <TopPage PageTitle="Counter"
                 WithSearchBar="true"></TopPage>

        <div class="container-places">
            <MenuSearch />
            <ContentPageSearchPlaces Sizer="25" />
        </div>
    </div>

@code {

}
