<div class="places-body-menu">
    <LocationMaster_FE.Shared.SearchLocations.PriceRange/>
    <LocationMaster_FE.Shared.SearchLocations.LocationsCategoryMenuSearch/>
    <LocationMaster_FE.Shared.SearchLocations.RattngMenuSearch/>
 
</div>

@code {

}
