@using  LocationMaster_FE.Shared.SearchLocations.SmallComponents
<div class="places-menu-price-range place-menu">
    <h3 class="places-none">Price range</h3>
    <div class="places-component">
        <Checkbox Value="range1" ValuePrice="$10" Id="1" />
        <Checkbox Value="range2" ValuePrice="$10-$100" Id="2" />
        <Checkbox Value="range3" ValuePrice="$100-$500" Id="3" />
        <Checkbox Value="range4" ValuePrice="More than $500" Id="4" />
    </div>
    <div class="places-component">
        <div class="places-custom-range">
            <InputValuePrice Content="Min Price" Id="min-price" />
            <InputValuePrice Content="Max Price" Id="max-price" />
        </div>
    </div>
</div>
@code {

}
