@using LocationMaster_FE.Shared.SearchLocations.SmallComponents
<div class="places-menu-ratting place-menu">
    <h3 class="places-none">Ratting</h3>
    <div class="places-component">
        <RatingLineHearts Size=5 Value="1212" />
        <RatingLineHearts Size=4 Value="1342" />
        <RatingLineHearts Size=3 Value="1511" />
        <RatingLineHearts Size=2 Value="3432" />
        <RatingLineHearts Size=1 Value="1232" />

    </div>
</div>
@code {

}
